 * {
    padding: 0;
    box-sizing: border-box;
  }
  .center {
    margin: auto;
    width: 90%;
    padding: 10px;
  }
  
  #chat {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:5%;
    width: 90%;
    padding: auto;
  }
  
  input {
    width: 100%;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  button {
    width: 100%;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
  }
  
  .messages {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
  }